<main class="site-main">
  <!-- Hero Section -->
  <section class="hero bg-dark text-white py-3">
    <div class="container d-md-flex align-items-center ">
      <div class="hero-content w-100 text-center">
        <div class="brand-hero mb-3 d-flex align-items-center justify-content-center">
        <i class="bi bi-bar-chart-fill fs-1 text-success me-2"></i>
        <span class="brand-title fw-bold">Escalada Capital</span>
        </div>
        <h1 class="display-6 fw-bold">Gestión y análisis de mercados para inversores</h1>
        <p class="lead mb-4">
          Datos en tiempo real, gráficos interactivos y asesoramiento profesional para optimizar su cartera.
        </p>
      </div>
    </div>
  </section>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-nav ms-auto">
        <button class="btn btn-outline-light btn-lg fs-4 mx-1"
                (click)="showSection('stock')"
                [class.active]="activeSection() === 'stock'">
          📈 Stocks
        </button>
        <button class="btn btn-outline-light fs-4 mx-1"
                (click)="showSection('crypto')"
                [class.active]="activeSection() === 'crypto'">
          ₿ Crypto
        </button>
        <button class="btn btn-outline-light fs-4 mx-1"
                (click)="showSection('personal')"
                [class.active]="activeSection() === 'personal'">
          👥 Quiénes Somos
        </button>
      </div>
    </div>
  </nav>

  <!-- Contenido dinámico -->
  <div class="container-fluid p-0 dynamic-section">
    <app-stock *ngIf="activeSection() === 'stock'"></app-stock>
    <app-crypto *ngIf="activeSection() === 'crypto'"></app-crypto>
    <app-personal *ngIf="activeSection() === 'personal'"></app-personal>
  </div>
</main>

<!-- Footer -->
<footer class="site-footer bg-light text-center text-md-start">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="mb-3 mb-md-0">
      © <strong>Escalada Capital</strong> — Todos los derechos reservados
    </div>
    <div>
      <a class="me-3 text-muted" href="#">Privacy</a>
      <a class="text-muted" href="#">Terms</a>
    </div>
  </div>
</footer>
